/*
 * Layout
 */
html, body {
	background-color: #eee;
}

body {
	padding-top: 40px;
}

.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	    -ms-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	     -o-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
	-webkit-border-radius: 6px 6px 0 0;
	   -moz-border-radius: 6px 6px 0 0;
	    -ms-border-radius: 6px 6px 0 0;
	     -o-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;
	background-color: whiteSmoke;
	padding: 20px 0 10px 100px;
	margin: -20px -20px 20px;
	background-image: url(../images/rbg.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}

.page-header button {
	float: right;
	margin-right: 20px;
}

.page-header button span {
	font-size: 16pt;
	line-height: 10px;
}

.pills > li {
	float: none;
}

.content .row > div {
	min-height:500px;
}

.content .span3 {
}

.content .span13 {
	margin-left: 9px;
	padding-left: 10px;
	border-left: 1px solid #EEE;
}

/*
 * VM Liste
 */

.vdi-machine-drawer .well {
	position: relative;
	padding: 14px;
	margin-bottom: 15px;
	height: 100px;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-buttons {
	position: absolute;
	right: 10px;
	top: 10px;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-buttons span {
	position: absolute;
	width: 18px;
	height: 18px;
	background: #666;
	background: rgba(0, 0, 0, .4);
	background-image: url(../images/icons-18-white.png);
	background-repeat: no-repeat;
	-webkit-border-radius: 9px;
	   -moz-border-radius: 9px;
	    -ms-border-radius: 9px;
	     -o-border-radius: 9px;
	        border-radius: 9px;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-buttons span.vdi-machine-edit {
	background-position: -288px 50%;
	right: 26px;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-buttons span.vdi-machine-remove {
	background-position: -72px 50%;
	right: 0;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-screenshot {
	position: relative;
	float: left;
	padding: 0 5px;
	width: 120px;
	height: 90px;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-screenshot img {
	position: absolute;
	width: 120px;
	height: 90px;
	-webkit-box-shadow: 0 0 4px 0.5px #333;
	   -moz-box-shadow: 0 0 4px 0.5px #333;
	    -ms-box-shadow: 0 0 4px 0.5px #333;
	     -o-box-shadow: 0 0 4px 0.5px #333;
	        box-shadow: 0 0 4px 0.5px #333;
}

.vdi-machine-drawer .vdi-machine span.vdi-machine-info-title {
	font-weight:bold;
}

.vdi-machine-drawer .vdi-machine .vdi-machine-infos {
	width: 510px;
	height: 100px;
	-webkit-column-width: 250px;
	   -moz-column-width: 250px;
	    -ms-column-width: 250px;
	     -o-column-width: 250px;
	        column-width: 250px;
	-webkit-column-gap: 10px;
	   -moz-column-gap: 10px;
	    -ms-column-gap: 10px;
	     -o-column-gap: 10px;
	        column-gap: 10px;
}

.vdi-machine-drawer .vdi-machine div.vdi-machine-actions {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/*
 * Dialogs
 */

.modal div.clearfix {
	margin-bottom: 10px;	
}

.modal .vdi-slider {
	margin: 8px 0;
}

.modal .vdi-slider-output {
	width: 60px;
}

/*
 * Create dialog
 */
#vdi-create-vm-dialog {
	margin-top: -350px;
}

/*
 * Edit dialog
 */

/*
 * Mount dialog
 */

/*
 * Footer
 */
.container > footer p {
	text-align: center;
}
